@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('./fonts/Roboto-Regular.woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), url('./fonts/Roboto-Bold.woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), url('./fonts/Roboto-Light.woff');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.App,
.App-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.App-body {
  padding: 20px;
}
