.footer {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}
.footer-link {
  text-transform: capitalize;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
}